table {
    border-collapse: collapse;
    margin: 36px auto;
    text-align: center;
    background-color: #87CEEB;
}

table td {
    padding: 10px;
    border: 1px solid #68686899;
    border-collapse: collapse;
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
}

p {
    margin-top: 36px;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sem {
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #539fea;
    height: 15px;
    color: #ffffff;
}

.sem-header {
    background-color: #e2e2e2;
    color: #2D2D2D;
    font-weight: 600;
}